# Скопируй этот файл в .env и заполни значения
# На Railway вводи эти же ключи в разделе Variables

TELEGRAM_TOKEN=твой_токен_от_botfather
ALLOWED_USER_ID=твой_telegram_id
WALLET_PRIVKEY=твой_приватный_ключ_solana
WALLET_ADDRESS=твой_адрес_кошелька
RPC_URL=https://mainnet.helius-rpc.com/?api-key=твой_ключ_helius
